/*Estilos Generales*/

body {
    background-color: rgb(37, 50, 57, 1.2);
    padding-top: 0%;
    padding-right: 0%;
    display: grid;
}

.contain {
    display: grid;
    place-content: center;
}

.boton {
    border-radius: 1.5rem;
    display: inline-block;
    position: relative;
    width: 10px;
}

.nav {
    padding: 0.5%;
    margin: 1.5%;
    width: fit-content;
    float: right;
}

.boton .text {
    display: none;
}

.boton:hover {
    animation: crecer;
    animation-duration: 1s;
}

@keyframes crecer {
    0% {
        width: 10px;
    }
    100% {
        width: fit-content;
    }
}

.boton:hover .text {
    display: block;
}

.ima {
    transform: scale(0.8);
}